.categories {
    list-style:none;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    grid-column: 1/2;
}

.categories li {
    padding: 1rem;
    width: 100%;
    text-align: left;
}

.categories li:hover {
    background-color: #F3B700;
    border-top-right-radius: 50px;
}

.icon {
    margin-right: 1rem;
}

@media screen and (max-width: 500px) {
    .menu {
        display: 'block'
    }
    
    .categories {
        display: none;
    }

}